/*#region Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*#endregion*/

body {
    font-size: 62.5%;
    min-height: 100vh;
    width: 100%;
    line-height: 1;
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5) no-repeat;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5)no-repeat; 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 100%;
    max-width: 500px;
    width: auto;
    margin: 50px auto;
    padding: 0 10px;
}

.title{
    font-family: 'Montserrat', sans-serif;;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.todo{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    background-color: azure;
}

/* #region Input input block */
.todo__input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.todo__task{
    width: 78%;
}

.todo__task input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(190, 189, 189);
    min-height: 40px;
    padding: 0 10px;
    font-size: 16px;
    color:rgb(216, 212, 212);
}

.todo__task input{
    border: 1px solid rgb(190, 189, 189);
}

.todo__button{
    width: 15%;
}

.todo__button button{
    overflow: hidden;
    display: block;
    width: 100%;
    border: 1px solid #03a9f4;
    border-radius: 5px;
    min-height: 42px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    color: rgb(245, 241, 241);
    outline: none;
    background-color: #03a9f4;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.todo__button button:hover{
    box-shadow: none
}

.todo__button button:active{
    box-shadow: rgba(97, 97, 97, 0.16) 0px 0px 4px 2px inset;
}
/* #endregion */

/* #region Todo options */
.todo__options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.todo__options__left{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.todo__options__left button{
    overflow: hidden;
    display: block;
    border: none;
    border-bottom: 2px solid transparent;
    min-height: 42px;
    margin: 0 10px 0 0;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.3;
    cursor: pointer;
    border-radius: 0;
    text-align: center;
    text-transform: uppercase;
    color: #555;
    outline: none;
    background-color: transparent;
    padding: 5px 10px;
}

.todo__options__left button:hover{
    color: #00b0ff;
    border-bottom: 2px solid #03a9f4;
}

button.btn_active_underline{
    color: #00b0ff;
    border-bottom: 2px solid #03a9f4;
}

.todo__options__right{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.todo__options__name{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.3;
    margin-right: 10px;
}

.todo__options_sort button{
    width: 30px;
    height: 30px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.todo__options_sort button:hover{
    background-color: #b9e8fa;
}

.todo__options_sort .new{
    background-image: url('images/arrow_sort_up.svg');   
}

.todo__options_sort .last{
    background-image: url('images/arrow_sort_down.svg');
}

button.btn_active_bg{
    background-color: #d4edf8;
}

/* #endregion */

/*#region Todo items*/
.todo__items{
    margin-bottom: 50px;
    max-height: 300px;
    overflow-y: auto;
}
.todo__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(226, 225, 225);
}

.todo__item:hover .todo__item__text{
    opacity: 0.8;
}

.todo__item__input input[type="checkbox"]{
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.todo__item__text{
    display: flex;
    flex-grow: 1;
    font-family: 'Montserrat', sans- serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
    color: #222;
}

.todo__item__date{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
    margin-right: 20px;
    color: #888;
}

.todo__item__del button{
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-image: url('images/trasrh.svg');
}

.todo__item__del button:hover{
    background-color: #d4edf8;
}
/*#endregion*/

/* #region Todo_pagination */
.todo__pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #333;
}

.todo__pagination button{
    font-family: 'Roboto', sans- serif;
    font-weight: 400;
    font-style: normal;
    outline: none;
    background-image: none;
    padding: 2px 10px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    outline: none;
    border: none;
    font-size: 22px;
    line-height: 1.2;
}

.todo__pagination button[disabled]{
    background-color: #eee;
    border-color: #ddd;
    color: rgb(189, 189, 189);
}


/* Кнропка - назад */
button.btn-prev{
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* Кнопка - вперед */
button.btn-next{    
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

button.btn-next:hover{    
    background-color: rgb(221, 219, 219);
}

.todo__pagination span{
    border: 1px solid #ddd;
    margin-left: -1px;
    overflow: hidden;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    color: #666;
    cursor: pointer;
    background-color: #fafafa;
}

.todo__pagination span:hover{
    background-color: #e3e3e3;
}


.todo__pagination span.pagination-selected{
    background-color: #eee;
    border-color: #ddd;
    font-weight: 700;
    color: #0e0e0e;
}
/* #endregion */

/* #region Media Queries */
@media only screen and (max-width: 767.98px){
    .todo{
        padding: 30px 10px;
    }

    .todo__options_sort button {
        width: 24px;
        height: 24px;
    }

    .todo__options__left {
        width: 55%;
    }

    .todo__options__right {
        width: 45%;
    }

    .todo__options__left button {
        min-height: 34px;
        font-size: 12px;
        padding: 5px;
    }

    .todo__options__name{
        font-size: 10px;
        margin-right: 5px;
    }

    .title{
        font-size: 24px;
        margin-bottom: 20px;
    }

    .todo__task {
        width: 70%;
    }

    .todo__button {
        width: 20%;
    }

    .todo__button button {
        font-size: 12px;
        min-height: 36px;
    }

    .todo__input {
        margin-bottom: 20px;
    }

    .todo__task input {
        min-height: 34px;
        font-size: 14px;
    }

    .todo__items {
        margin-bottom: 30px;
        max-height: 300px;
    }

    .todo__options {
        margin-bottom: 20px;
    }
}

/* #endregion */